body {
    background-color: #ff6600;
}

h1 {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}